<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">

                <p class="text-faded">
                  I am a Sophomore at Berea College, a liberal arts college in
                  Berea, Kentucky. I am working towards a major in <b>Computer Science</b>.
                  I work primarily as a teaching assistant for the Computer Science
                  program at my college, where I  help students understand concepts
                  and solve problems.</p>
                <p class="text-faded">
                  <b>Photography</b> is my hobby. I love taking pictures. Photography
                  gives me a chance to show the way I perceive the world
                  through my eyes.</p>
                <p class="text-faded">
                  <i>One of my <b>Favourite Quote</b>? "Forget not that the
                  earth delights to feel your bare feet and the winds long
                  to play with your hair." - Khalil Gibran</i>
                </p>

                <a href="assets/Tahmid_Efaz_Resume.pdf" target="_blank" class="page-scroll btn btn-default btn-xl sr-button">Download Resume</a>
                <a href="#projects" class="page-scroll btn btn-default btn-xl sr-button">My Projects</a>
            </div>
        </div>
    </div>
</section>
